# Node.js
node_modules/
.env

# Logs
logs/
*.log

# Build directories
build/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Configuration files
config.json
.vercel
